
<!DOCTYPE html>
<html>
<title>Gesture Link</title>
<body>


       <nav class="navbar navbar-default" role="navigation">
        <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="">
          <div class="navbar-brand navbar-brand-centered" href=""  style="font-style: bold; font-size: 20px;">Gesture Link</div></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-brand-centered">
          <ul class="nav navbar-nav">
            <li><a href="proposal">Proposal</a></li>
            <li><a href="slides">Slides</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="demo">Demo</a></li>
            <li class="active"><a href="index">Survey</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

<style type="text/css">
h1{
  text-align: center;
}
p{
  text-align: center;
}

@media screen and (min-width:768px){
    .navbar-brand-centered {

        position: absolute;
        left: 45%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}
</style>

<div class="container">



  <h1> Survey Information </h1>

  <p>In this section we will be focusing on how we interpreted our survey data. This survey was deployed on University of Rochester's Class pages so we could examine a diversified data set.</p>

  <center><img style="width:750px"; src="https://s3.us-east-2.amazonaws.com/hci212/class.png"></center></img>

  <h1> Concept Video and Questions </h1>
  <p> In order to familiarize our audience with our product we put a link to our proposed idea in the survey. This video is a concept on how our product will behave and what its intended uses are and will be. In this video we show a couple of examples such as increasing or decreasing the brightness of the light, fast forwarding or rewinding a certain song, and moving thorugh the menus of a TV using nothing but gestures.

  Our first question dealt with how many people had a smart home device. 42.1% of the responders had a smart home device and 23.7% said they would like to use them in the future. </p>

  <center><img style="width:750px"; src="https://s3.us-east-2.amazonaws.com/hci212/smart.png"></center></img>


  <p> Our next question dealt with how many people would be willing to control their electronics through their interconnected smart-home system. 42% of the people answered never, and 21% said they use it often and the rest of the population falls in between. We believe that many people gave smart-home systems such an unfavorable rating mainly because this technology isnt fuly perfected yet and it is still in its experimental stages so they don't always work as intended, but through our GestureLink, we are aiming to improve that view and introduce smart-home systems to a new crowd and also an experienced crowd.

  <center><img style="width:750px"; src="https://s3.us-east-2.amazonaws.com/hci212/interconnected.png"></center></img>


  When asked if users would be willing to use sound as a gesture recognizer at home, 36.8% of the respondants said yes, 42.1% said maybe and only 21.1% said they won't be. This data is encouraging because users are looking for better and new ways to improve their quality of life.

  <center><img style="width:750px"; src="https://s3.us-east-2.amazonaws.com/hci212/homeautomation.png"></center></img>

  </p>




  <h1> Platform Interaction </h1>

  <center><img style="width:750px"; src="https://s3.us-east-2.amazonaws.com/hci212/lights.png"></center></img>


  <p> Respondants wanted to use the gesture recognizer for their Lights(84.2%), Music Player(81.6%), TV(76.3%). Users want to keep their devices inter-connected with each other so they would not have to operate different devices in many different ways. Having one universal method would defintely improve the way users interact with the world around them.

  <h1> Feedback and Improvements </h1>

  <p> Many users want to use GestureLink in unique and new ways such as:
      1. Application is particularly useful for those with with fine-motor skills disabilities since gestures can be very large.

      2. Application in health care where patients that can't move or have trouble moving can benefit from this device.

      3. Motion control. For example: Every time a dog walks across a hardwood floor, my lights will go off.



      <center><img style="width:750px"; src="https://s3.us-east-2.amazonaws.com/hci212/gesturelikely.png"></center></img>



      When asked whether how likely would they be to use Gesture Link, a majority of the respondants answered that they would be willing to try this technolgy.


</div>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://masonry.desandro.com/masonry.pkgd.js'></script>
<script src="js/index.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
